In [1]:
import os

In [2]:
import pandas as pd

In [3]:
data_in_dir = r"../data/"
for elt in os.listdir(data_in_dir): print(elt)

.ipynb_checkpoints
energy_price_clean.csv
energy_price_daily.csv
energy_price_potential_monthly.csv
energy_price_potential_yearly.csv
Spotmarktpreis [2026-02-04 05-51-12].csv

https://www.netztransparenz.de/en/Renewable-energies-and-levies/EEG/Transparency-requirements/Market-premium/Spot-market-price-according-to-3-No-42a-EEG

In [4]:
energy_price_fname = r"Spotmarktpreis [2026-02-04 05-51-12].csv"
energy_price_pfname = data_in_dir + energy_price_fname
print(f"energy market data is in:  {energy_price_pfname:s}")

energy market data is in:  ../data/Spotmarktpreis [2026-02-04 05-51-12].csv

In [5]:
# read the header of the file
header = open(energy_price_pfname, encoding="cp1252").readline().split(";")
# ";" is the delimiter so it was used in the .split : )
header

['ï»¿Datum',
 'von',
 'Zeitzone von',
 'bis',
 'Zeitzone bis',
 'Spotmarktpreis in ct/kWh\n']

In [6]:
df_energy_price = pd.read_csv(energy_price_pfname, sep = ";") 
#,index_col=["something"],parse_dates=["Datum"]

In [7]:
df_energy_price

,Datum,von,Zeitzone von,bis,Zeitzone bis,Spotmarktpreis in ct/kWh
0,01.01.2012,00:00,CET,01:00,CET,2.512
1,01.01.2012,01:00,CET,02:00,CET,2.364
2,01.01.2012,02:00,CET,03:00,CET,1.903
3,01.01.2012,03:00,CET,04:00,CET,1.597
4,01.01.2012,04:00,CET,05:00,CET,1.590
...,...,...,...,...,...,...
120522,30.09.2025,19:00,CEST,20:00,CEST,35.777
120523,30.09.2025,20:00,CEST,21:00,CEST,14.728
120524,30.09.2025,21:00,CEST,22:00,CEST,11.604
120525,30.09.2025,22:00,CEST,23:00,CEST,10.163
120526,30.09.2025,23:00,CEST,00:00,CEST,9.254

In [8]:
df_energy_price.columns

Index(['Datum', 'von', 'Zeitzone von', 'bis', 'Zeitzone bis',
       'Spotmarktpreis in ct/kWh'],
      dtype='object')

In [9]:
df_energy_price['Date_and_time'] = df_energy_price['Datum'] + ' ' + df_energy_price['von']

In [10]:
df_energy_price

,Datum,von,Zeitzone von,bis,Zeitzone bis,Spotmarktpreis in ct/kWh,Date_and_time
0,01.01.2012,00:00,CET,01:00,CET,2.512,01.01.2012 00:00
1,01.01.2012,01:00,CET,02:00,CET,2.364,01.01.2012 01:00
2,01.01.2012,02:00,CET,03:00,CET,1.903,01.01.2012 02:00
3,01.01.2012,03:00,CET,04:00,CET,1.597,01.01.2012 03:00
4,01.01.2012,04:00,CET,05:00,CET,1.590,01.01.2012 04:00
...,...,...,...,...,...,...,...
120522,30.09.2025,19:00,CEST,20:00,CEST,35.777,30.09.2025 19:00
120523,30.09.2025,20:00,CEST,21:00,CEST,14.728,30.09.2025 20:00
120524,30.09.2025,21:00,CEST,22:00,CEST,11.604,30.09.2025 21:00
120525,30.09.2025,22:00,CEST,23:00,CEST,10.163,30.09.2025 22:00
120526,30.09.2025,23:00,CEST,00:00,CEST,9.254,30.09.2025 23:00

In [11]:
df_energy_price["Date_and_time"] = pd.to_datetime(
    df_energy_price["Date_and_time"],
    format="%d.%m.%Y %H:%M",
    errors="raise"
)

In [12]:
df_energy_price.dtypes

Datum                               object
von                                 object
Zeitzone von                        object
bis                                 object
Zeitzone bis                        object
Spotmarktpreis in ct/kWh           float64
Date_and_time               datetime64[ns]
dtype: object

In [13]:
df_energy_price.set_index("Date_and_time", inplace=True)

In [14]:
df_energy_price["Spot_market_price_in_€/MWh"] = df_energy_price["Spotmarktpreis in ct/kWh"] * 10

In [15]:
df_energy_price["Spot_market_price_in_€/MWh"] = df_energy_price["Spot_market_price_in_€/MWh"].round(3) 
#3 decimal places

In [16]:
df_energy_price.columns

Index(['Datum', 'von', 'Zeitzone von', 'bis', 'Zeitzone bis',
       'Spotmarktpreis in ct/kWh', 'Spot_market_price_in_€/MWh'],
      dtype='object')

In [17]:
df_energy_price.drop(columns=['Datum', 'von', 'Zeitzone von', 'bis', 'Zeitzone bis', 'Spotmarktpreis in ct/kWh'], inplace=True)

In [18]:
df_energy_price

                     Spot_market_price_in_€/MWh
Date_and_time
2012-01-01 00:00:00                       25.12
2012-01-01 01:00:00                       23.64
2012-01-01 02:00:00                       19.03
2012-01-01 03:00:00                       15.97
2012-01-01 04:00:00                       15.90
...                                         ...
2025-09-30 19:00:00                      357.77
2025-09-30 20:00:00                      147.28
2025-09-30 21:00:00                      116.04
2025-09-30 22:00:00                      101.63
2025-09-30 23:00:00                       92.54

[120527 rows x 1 columns]

In [19]:
file_CSV_name = "energy_price_clean.csv"

In [20]:
df_energy_pfname = data_in_dir + file_CSV_name
df_energy_pfname

'../data/energy_price_clean.csv'

In [21]:
df_energy_price.to_csv(df_energy_pfname,sep =";") # fancy extra thing to save the file as a CSV for absolutely no reason

Analysis begins

In [22]:
df_energy_price["delta"] = df_energy_price["Spot_market_price_in_€/MWh"].diff()
df_energy_price

                     Spot_market_price_in_€/MWh   delta
Date_and_time
2012-01-01 00:00:00                       25.12     NaN
2012-01-01 01:00:00                       23.64   -1.48
2012-01-01 02:00:00                       19.03   -4.61
2012-01-01 03:00:00                       15.97   -3.06
2012-01-01 04:00:00                       15.90   -0.07
...                                         ...     ...
2025-09-30 19:00:00                      357.77   63.23
2025-09-30 20:00:00                      147.28 -210.49
2025-09-30 21:00:00                      116.04  -31.24
2025-09-30 22:00:00                      101.63  -14.41
2025-09-30 23:00:00                       92.54   -9.09

[120527 rows x 2 columns]

Calculating only Upward Variation

In [23]:
df_energy_price["positive_delta"] = df_energy_price["delta"].clip(lower=0)
df_energy_price

                     Spot_market_price_in_€/MWh   delta  positive_delta
Date_and_time
2012-01-01 00:00:00                       25.12     NaN             NaN
2012-01-01 01:00:00                       23.64   -1.48            0.00
2012-01-01 02:00:00                       19.03   -4.61            0.00
2012-01-01 03:00:00                       15.97   -3.06            0.00
2012-01-01 04:00:00                       15.90   -0.07            0.00
...                                         ...     ...             ...
2025-09-30 19:00:00                      357.77   63.23           63.23
2025-09-30 20:00:00                      147.28 -210.49            0.00
2025-09-30 21:00:00                      116.04  -31.24            0.00
2025-09-30 22:00:00                      101.63  -14.41            0.00
2025-09-30 23:00:00                       92.54   -9.09            0.00

[120527 rows x 3 columns]

In [24]:
daily_basis = df_energy_price.groupby(df_energy_price.index.date).agg(
    min_price=("Spot_market_price_in_€/MWh", "min"),
    max_price=("Spot_market_price_in_€/MWh", "max"),
    mean_price=("Spot_market_price_in_€/MWh", "mean"),
    std_price=("Spot_market_price_in_€/MWh", "std"),
    upward_price_variation=("positive_delta", "sum"),
)
daily_basis["spread"] = daily_basis["max_price"] - daily_basis["min_price"]

In [25]:
daily_basis

,min_price,max_price,mean_price,std_price,upward_price_variation,spread
2012-01-01,-0.08,33.78,18.189583,10.039679,44.54,33.86
2012-01-02,-11.07,64.03,33.818750,22.038468,77.15,75.10
2012-01-03,15.96,53.10,35.026250,10.468441,45.72,37.14
2012-01-04,0.04,57.42,32.163333,18.943094,64.52,57.38
2012-01-05,-75.04,47.61,20.350000,33.183473,125.48,122.65
...,...,...,...,...,...,...
2025-09-26,73.16,133.02,94.960833,19.551891,110.25,59.86
2025-09-27,36.11,148.61,92.799167,25.071027,139.70,112.50
2025-09-28,8.53,137.97,87.182917,35.082230,143.95,129.44
2025-09-29,77.08,406.78,130.565417,78.889972,463.92,329.70
2025-09-30,86.04,357.77,136.166250,70.522131,428.66,271.73

In [26]:
daily_basis.columns

Index(['min_price', 'max_price', 'mean_price', 'std_price',
       'upward_price_variation', 'spread'],
      dtype='object')

In [27]:
for x in daily_basis.columns:
    daily_basis[x] = daily_basis[x].round(3) 
    #3 decimal places

In [28]:
daily_basis

,min_price,max_price,mean_price,std_price,upward_price_variation,spread
2012-01-01,-0.08,33.78,18.190,10.040,44.54,33.86
2012-01-02,-11.07,64.03,33.819,22.038,77.15,75.10
2012-01-03,15.96,53.10,35.026,10.468,45.72,37.14
2012-01-04,0.04,57.42,32.163,18.943,64.52,57.38
2012-01-05,-75.04,47.61,20.350,33.183,125.48,122.65
...,...,...,...,...,...,...
2025-09-26,73.16,133.02,94.961,19.552,110.25,59.86
2025-09-27,36.11,148.61,92.799,25.071,139.70,112.50
2025-09-28,8.53,137.97,87.183,35.082,143.95,129.44
2025-09-29,77.08,406.78,130.565,78.890,463.92,329.70
2025-09-30,86.04,357.77,136.166,70.522,428.66,271.73

In [29]:
file_daily_CSV_name = "energy_price_daily.csv"

In [30]:
df_energy_daily_pfname = data_in_dir + file_daily_CSV_name
df_energy_daily_pfname

'../data/energy_price_daily.csv'

In [31]:
daily_basis.to_csv(df_energy_daily_pfname,sep =";") # fancy extra thing to save the file as a CSV for absolutely no reason

Monthly Analysis

In [32]:
daily_basis.index = pd.to_datetime(daily_basis.index)

In [33]:
monthly_basis = daily_basis.groupby(daily_basis.index.to_period("M")).agg(
    min_daily_upward_price_variation=("upward_price_variation", "min"),
    max_daily_upward_price_variation=("upward_price_variation", "max"),
    mean_daily_upward_price_variation=("upward_price_variation", "mean"),
    std_daily_upward_price_variation=("upward_price_variation", "std"),
    total_sum_upward_price_variation_for_month=("upward_price_variation", "sum"),
)
monthly_basis["monthly_price_variation_spread"] = monthly_basis["max_daily_upward_price_variation"] - monthly_basis["min_daily_upward_price_variation"]

In [34]:
monthly_basis

,min_daily_upward_price_variation,max_daily_upward_price_variation,mean_daily_upward_price_variation,std_daily_upward_price_variation,total_sum_upward_price_variation_for_month,monthly_price_variation_spread
2012-01,28.55,172.05,53.127097,28.428058,1646.94,143.50
2012-02,29.85,237.71,86.905172,56.160303,2520.25,207.86
2012-03,39.07,117.80,58.395161,14.574948,1810.25,78.73
2012-04,27.96,72.01,48.711000,11.910732,1461.33,44.05
2012-05,28.56,72.85,41.113871,9.608821,1274.53,44.29
...,...,...,...,...,...,...
2025-05,85.12,379.46,189.177742,68.440319,5864.51,294.34
2025-06,81.94,309.78,189.463000,56.009416,5683.89,227.84
2025-07,66.79,465.75,132.268387,69.385416,4100.32,398.96
2025-08,83.84,268.99,162.489032,50.351788,5037.16,185.15
2025-09,110.25,492.49,232.485667,124.852935,6974.57,382.24

In [35]:
for x in monthly_basis.columns:
    monthly_basis[x] = monthly_basis[x].round(3) 
    #3 decimal places

In [36]:
file_monthly_CSV_name = "energy_price_potential_monthly.csv"

In [37]:
df_energy_monthly_pfname = data_in_dir + file_monthly_CSV_name
df_energy_monthly_pfname

'../data/energy_price_potential_monthly.csv'

In [38]:
monthly_basis.to_csv(df_energy_monthly_pfname,sep =";") # fancy extra thing to save the file as a CSV for absolutely no reason

Yearly Analysis

In [39]:
yearly_basis = daily_basis.groupby(daily_basis.index.year).agg(
    min_daily_upward_price_variation=("upward_price_variation", "min"),
    max_daily_upward_price_variation=("upward_price_variation", "max"),
    mean_daily_upward_price_variation=("upward_price_variation", "mean"),
    std_daily_upward_price_variation=("upward_price_variation", "std"),
    total_sum_upward_price_variation_for_year=("upward_price_variation", "sum"),
)
yearly_basis["monthly_price_variation_spread"] = yearly_basis["max_daily_upward_price_variation"] - yearly_basis["min_daily_upward_price_variation"]

In [40]:
yearly_basis

,min_daily_upward_price_variation,max_daily_upward_price_variation,mean_daily_upward_price_variation,std_daily_upward_price_variation,total_sum_upward_price_variation_for_year,monthly_price_variation_spread
2012,20.83,243.35,53.530000,28.825493,19591.98,222.52
2013,15.18,143.55,52.225370,20.728144,19062.26,128.37
2014,10.08,109.85,40.410521,15.656018,14749.84,99.77
2015,13.60,144.83,40.223452,15.042735,14681.56,131.23
2016,10.37,151.42,32.845355,15.317166,12021.40,141.05
2017,12.13,158.31,40.970055,22.400057,14954.07,146.18
2018,12.98,122.89,44.109288,19.173573,16099.89,109.91
2019,10.45,142.34,40.702986,18.335772,14856.59,131.89
2020,12.15,208.66,42.910109,22.219169,15705.10,196.51
2021,21.63,432.41,109.382110,78.048943,39924.47,410.78
2022,5.27,758.68,262.554849,134.763271,95832.52,753.41
2023,12.12,594.90,129.699726,60.618867,47340.40,582.78
2024,16.97,3677.65,152.576721,208.622141,55843.08,3660.68
2025,14.25,729.59,173.455604,84.236699,47353.38,715.34

In [41]:
for x in yearly_basis.columns:
    yearly_basis[x] = yearly_basis[x].round(3) 
    #3 decimal places

In [42]:
file_yearly_CSV_name = "energy_price_potential_yearly.csv"

In [43]:
df_energy_yearly_pfname = data_in_dir + file_yearly_CSV_name
df_energy_yearly_pfname

'../data/energy_price_potential_yearly.csv'

In [44]:
yearly_basis.to_csv(df_energy_yearly_pfname,sep =";") # fancy extra thing to save the file as a CSV for absolutely no reason